<% provide(:title, "Recipe edit") %><br>
<h1 class="text-center">レシピ編集</h1>


<% if @recipe.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@recipe.errors.count, "error") %></h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @recipe do |f| %>
      <%= f.label :title, "レシピ名", class: "label" %>
      <%= f.text_field :title, class: "form-control" %>
          
      <%= f.label :body, "作り方", class: "label" %>
      <%= f.text_area :body, class: "form-control", rows:"6" %>
        
      <%= f.label :image, "写真", class: "label" %>
      <%= f.attachment_field :image, class: "form-control col-8" %><br>

      <%= f.submit '投稿', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
