<% provide(:title, "Recipe new") %><br>
<h2 class="text-center">新規レシピ作成</h2>

<% if @recipe.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
      
<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @recipe do |f| %>
      <%= f.label :title, "レシピ名", class: "label font-weight-bold" %>
      <%= f.text_field :title, class: 'form-control' %><br>
          
      <%= f.label :body, "作り方", class: "label font-weight-bold" %>
      <%= f.text_area :body, class: 'form-control', rows:"6" %><br>
          
      <%= f.label :image, "写真", class: "label font-weight-bold" %>
      <%= f.attachment_field :image, class: 'form-control col-8' %><br>

      <%= f.submit '投稿', class: "btn btn-success" %>    
    <% end %>
  </div>
</div>
