<div class="container">
<div class="hom">
<br><h1 class="font-italic">レシピ詳細</h1><br>
</div>
</div>

<div class="container">
<div class="hom">
  <div class="row">
    <div class="col-sm">
      <%= attachment_image_tag @recipe, :image, class:"card-img-top img-fluid", alt:"Responsive image"  %>
    </div>
    <div class="col-sm">
      <h3><%= @recipe.title %></h3>
      <h5 class="border-bottom border-dark">作り方</h5>
      <p><%= simple_format @recipe.body %></p>
    </div>
  </div>
  <div>
    <% if @recipe.user.id == current_user.id %><br>
      <%= link_to "編集", edit_recipe_path(@recipe), class:"btn btn-secondary mr-2" %>
      <%= link_to "削除", recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除しますか？"} , class:"btn btn-secondary"%>
    <% end %><br>
      <br><p>投稿者：<%= @recipe.user.username %></p>
          <p><%= link_to user_path(@recipe.user), class:"text-success" do %>
    <%= @recipe.user.username %>さんの他のレシピも確認する
    <% end %></p>
  </div>
  </div>
</div>