<h1>レシピ詳細</h1>

<%= attachment_image_tag @recipe, :image %><br>

<%= @recipe.title %></p>

<%= simple_format @recipe.body %>

<% if @recipe.user.id == current_user.id %>
  <%= link_to "編集", edit_recipe_path(@recipe) %>
  <%= link_to "削除", recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除しますか？"} %>
<% end %>

<%= @recipe.user.username %>

<%= link_to user_path(@recipe.user) do %>
  <%= @recipe.user.username %>さんの他のレシピも確認する
<% end %>