<div class="container"><br>
  <h1 class="text-center">レシピ詳細</h1><br>



  <div class="col-12 col-md-6 col-lg-4">
    <%= attachment_image_tag @recipe, :image, class:"card-img-top img-fluid", alt:"Responsive image"  %><br>
      <div>
        <h3><%= @recipe.title %></h3>
      </div><br>
      <div>
        <h5 class="border-bottom">作り方</h5>
        <p><%= simple_format @recipe.body %>
      </div>
      <% if @recipe.user.id == current_user.id %>
        <%= link_to "編集", edit_recipe_path(@recipe), class:"btn btn-secondary" %>
        <%= link_to "削除", recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除しますか？"} , class:"btn btn-secondary"%>
      <% end %>

      <div>
        <br><p>投稿者：<%= @recipe.user.username %></p>
        <p><%= link_to user_path(@recipe.user), class:"text-success" do %>
            <%= @recipe.user.username %>さんの他のレシピも確認する
            <% end %></p>
      </div>
  </div>
</div>